

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-12 mb-12" >

          <div class="row" style="text-align:center;font-weight:bold;">
            <div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2  " >
                    <a href="" style="width: 100%;heigth:100%;text-decoration:none;color:black;">
                    <div class="mt-1 " style="position: relative;">
                        <img src="/images/logo-news.png" alt="" style="width: 100%;">
                    </div> 
                </a>        
            </div>

            <div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2" style="background-color:rgb(245, 255, 0);" id="nav-home">
                <a href="/" style="width: 100%;heigth:100%;text-decoration:none;color:black;">
                    <div class="mt-4 pt-2 home-btn" style="position: relative;">
                        HOME
                    </div> 
                </a>
            </div>
            <div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2 " style="position: relative;background-color: #41464b " onmouseover="desplegarSeccion()" onmouseout="esconderSeccion()" > 
                 <div class="mt-4 pt-2 home-sec" style="position: relative;color:rgb(245, 255, 0);">
                    SECCIONES
                 </div> 
                <div id="dropdown-secc" class="des-down"  >
                     {{#each secciones}}
                        <div class="mt-2 mb-2 desp-sec" >
                            <a href="/noticias/seccion/{{id}}" style="text-decoration: none;  ">{{nombre}}</a>
                        </div>
                    {{/each}}
                </div>

            </div>

            <div class="search-form col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pt-4 pb-4" >
                <form  class="d-flex " method="post" action ="/noticias/buscar" >
                    <input class="form-control"  type="search" placeholder="Search..." aria-label="Search" name="dato" id="dato">
                    <button class="btn search-btn"  type="submit"><i class="fas fa-search  "></i></button>
                </form>
            </div>

           </div>          

        </div>

        <div class="bor-izq col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 ">
            <div class="navbar-secciones " >
                <div class="bar-secc " >
                    <div class="tit-secc">
                        Navegá con <br>
                        un click!
                    </div> 
                        <div class="mt-2 mb-2 sec-a" >
                            <a href="#LoNuevo">#LoNuevo</a>
                        </div>
                        <div class="mt-2 mb-2 sec-a" >
                            <a href="#deporte">#Deporte</a>
                        </div>
                        <div class="mt-2 mb-2 sec-a" >
                            <a href="#politica">#Política</a>
                        </div>
                        <div class="mt-2 mb-2 sec-a" >
                            <a href="#actualidad">#Actualidad</a>
                        </div>
                        <div class="mt-2 mb-2 sec-a" >
                            <a href="#videos">#Videos</a>
                        </div>
                        <div class="mt-2 mb-2 sec-a" >
                            <a href="#lo+visto">#MásVisto</a>
                        </div>
                    <div class="bar-sec-redes">
                       <a href=""> Facebook</a> | <a href="">Youtube</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="centro-noticias col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="row">
                

                {{!-- Panel de muestra con las ultimas noticias subidas a la pagina  --}}
                <div class="ult-noticias col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="LoNuevo">
                    <div id="carouselExampleCaptions" class="carousel slide hei-100" data-bs-ride="carousel" >
                     <div class="carousel-indicators">
                        <button style="background-color:rgb(245, 255, 0);" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button style="background-color:rgb(245, 255, 0);" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button style="background-color:rgb(245, 255, 0);" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner hei-100" >
                        
                        {{#each ultimasNoticias}}
                            {{#if @index}}
                                <div class="carousel-item  hei-100">                      
                                    <img src="/images/{{imagen}}" class="d-block w-100 " alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h1 style="font-family: 'DM Serif Display', serif;color: rgb(245, 255, 0);background-color:rgba(0,0,0,0.5)">{{titular}}</h1>
                                        <p><a href="/noticias/noticia/{{id}}" class="btn btn-warning" style="background-color:rgb(0, 0, 0,0.6);color:rgb(245, 255, 0);">ver noticia</a></p>
                                    </div>
                                </div> 
                            {{else}}
                                <div class="carousel-item active hei-100">                      
                                <img src="/images/{{imagen}}" class="d-block w-100 " alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h1 style="font-family: 'DM Serif Display', serif; color: rgb(245, 255, 0);background-color:rgba(0,0,0,0.5)">{{titular}}</h1>
                                        <p><a href="/noticias/noticia/{{id}}" class="btn btn-warning" style="background-color:rgb(0, 0, 0,0.6);color:rgb(245, 255, 0);">ver noticia</a></p>
                                    </div>
                                </div>
                            {{/if}}
                        {{/each}}                 
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                </div>
                
                
                <div class="seccion-noticias col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="deporte">
                    <div class="row">
                        {{#each noticiasDeportes}}
                            {{#if @index}}
                                <div class="not-2-seccion col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                                    <a class="capa-link" href="/noticias/noticia/{{id}}">
                                        <div class="img-tsec-2">
                                            <img src="/images/{{imagen}}" alt="" > <br>
                                        </div>
                                        <div class="datos-tsec-2">
                                            <div class="sec-box-not">
                                                {{nombreSeccion}}
                                            </div>
                                            <div class="tit-box-not">
                                                {{titular}} 
                                            </div>                                     
                                        </div>
                                    </a>
                                </div>
                            {{else}}
                                <div class="not-1-seccion col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <a class="capa-link" href="/noticias/noticia/{{id}}">
                                        <div class="datos-tsec-1-i">
                                             <div class="sec-box-not">
                                                {{nombreSeccion}}
                                            </div>
                                            <div class="tit-box-not">
                                                {{titular}} 
                                            </div>      
                                        </div>
                                        <div class="img-tsec-1">
                                            <img src="/images/{{imagen}}" alt="" > <br>
                                        </div>
                                    </a>
                                </div>
                             {{/if}}
                        {{/each}}   

                    </div>

                </div>

                <div class="seccion-noticias col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="politica">
                    <div class="row">
                        {{#each noticiasPolitica}}
                            {{#if @index}}
                                <div class="not-2-seccion col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                                 <a class="capa-link" href="/noticias/noticia/{{id}}">
                                    <div class="img-tsec-2">
                                        <img src="/images/{{imagen}}" alt="" > <br>
                                    </div>
                                    <div class="datos-tsec-2">
                                         <div class="sec-box-not">
                                                {{nombreSeccion}}
                                            </div>
                                            <div class="tit-box-not">
                                                {{titular}} 
                                            </div>       
                                    </div>
                                    </a>
                                </div>
                             {{/if}}
                             
                        {{/each}}   
                        <div class="not-1-seccion col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <a href="/noticias/noticia/{{id}}">
                                <div class="datos-tsec-1-d">
                                    <div class="sec-box-not">
                                        {{noticiasPolitica.[0].nombreSeccion}}
                                    </div>
                                    <div class="tit-box-not">
                                        {{noticiasPolitica.[0].titular}}
                                    </div>       
                                </div>
                                <div class="img-tsec-1">
                                    <img src="/images/{{noticiasPolitica.[0].imagen}}" alt="" > <br>
                                </div>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="seccion-noticias col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="actualidad">
                    <div class="row">
                        {{#each noticiasActualidad}}
                            {{#if @index}}
                                
                                    <div class="not-2-seccion col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                                        <a class="capa-link" href="/noticias/noticia/{{id}}">
                                            <div class="img-tsec-2">
                                            <img src="/images/{{imagen}}" alt="" > <br>
                                            </div>
                                            <div class="datos-tsec-2">
                                            <div class="sec-box-not">
                                                {{nombreSeccion}}
                                            </div>
                                            <div class="tit-box-not">
                                                {{titular}} 
                                            </div>       
                                            </div>
                                        </a>
                                </div>
                            {{else}}
                                <div class="not-1-seccion col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <a class="capa-link" href="/noticias/noticia/{{id}}">
                                        <div class="datos-tsec-1-i">
                                             <div class="sec-box-not">
                                                {{nombreSeccion}}
                                            </div>
                                            <div class="tit-box-not">
                                                {{titular}} 
                                            </div>     
                                        </div>
                                        <div class="img-tsec-1">
                                            <img src="/images/{{imagen}}" alt="" > <br>
                                        </div>
                                    </a>
                                </div>
                             {{/if}}
                        {{/each}}   

                    </div>

                </div>

                <div class="seccion-noticias col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="videos">
                    <div class="row">
                         <div class="videos-sec-tit col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-4 mb-2 ">
                             #Videos
                         </div>
                         <div class="videos-sec-tit col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-4 mb-2 ">                           
                            
                         </div>

                         <div class="videos-sec-all col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mt-4 mb-4 ">
                            <div class="box-vid mb-3" style="" >
                                <div class="capa-transparente" onclick="cambiarVideo( 'https://www.youtube.com/embed/pLlz4h5WRq0' )"></div>
                                <iframe class="rep-vid" src="https://www.youtube.com/embed/pLlz4h5WRq0" frameborder="0" style="" ></iframe>   
                            </div>
                            <div class="box-vid mb-3" style="" >
                                <div class="capa-transparente" onclick="cambiarVideo( 'https://www.youtube.com/embed/xkvQQJzeDmY' )"></div>
                                <iframe class="rep-vid" src="https://www.youtube.com/embed/xkvQQJzeDmY" frameborder="0" style="" ></iframe>   
                            </div>
                            <div class="box-vid mb-3" style="" >
                                <div class="capa-transparente" onclick="cambiarVideo( 'https://www.youtube.com/embed/fNPaiZoZU0M' )"></div>
                                <iframe class="rep-vid" src="https://www.youtube.com/embed/fNPaiZoZU0M" frameborder="0" style="" ></iframe>   
                            </div>
                            <div class="box-vid mb-3" style="" >
                                <div class="capa-transparente" onclick="cambiarVideo( 'https://www.youtube.com/embed/RhAqV3uHI4U' )"></div>
                                <iframe class="rep-vid" src="https://www.youtube.com/embed/RhAqV3uHI4U" frameborder="0" style="" ></iframe>   
                            </div>
                            <div class="box-vid mb-3" style="" >
                                <div class="capa-transparente" onclick="cambiarVideo( 'https://www.youtube.com/embed/pU89OpwBgOc' )"></div>
                                <iframe class="rep-vid" src="https://www.youtube.com/embed/pU89OpwBgOc" frameborder="0" style="" ></iframe>   
                            </div>
                          
                         </div>
                         <div class="videos-sec-rep col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 mt-4 mb-4 ">
                             <iframe class="rep-vid" src="https://www.youtube.com/embed/pU89OpwBgOc" id="rep-vid" frameborder="0"></iframe>
                         </div>
                    </div>

                </div>

                 <div class="pub col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="height:200px;">
                        <div class="row">
                            <div class="col-12  col-sm-12  col-md-12  col-lg-12 col-xl-12 mt-4 mb-2 "  style="padding:0%;">
                            <img src="/images/cerv-pub.png" alt="" style="width:100%; height:100%; padding:0%;">
                        </div>  
                        </div>
                            
                 </div>

                 <div class="seccion-noticias col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="lo+visto">
                    <div class="row">

                        <div class="videos-sec-tit col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 mb-2 " style="text-align:right">
                             #LoMásVisto
                         </div>
                         
                        {{#each masVistas}}
                            {{#if @index}}
                                    <div class="not-2-seccion col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                                        <a class="capa-link" href="/noticias/noticia/{{id}}">
                                            <div class="img-tsec-2">
                                            <img src="/images/{{imagen}}" alt="" style="width: 100%;"> <br>
                                            </div>
                                            <div class="datos-tsec-2">
                                            <div class="sec-box-not">
                                                {{nombreSeccion}}
                                            </div>
                                            <div class="tit-box-not">
                                                {{titular}} 
                                            </div>    
                                            </div>
                                            <div style="position: absolute;top:2%;left:2%;  background-color: rgb(245, 255, 0); color:black;width:20px;text-align:center">
                                                {{@index}}
                                            </div>
                                        </a>
                                </div>
                            {{else}}
                                <div class="not-1-seccion col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <a class="capa-link" href="/noticias/noticia/{{id}}">
                                        <div class="datos-tsec-1-i">
                                             <div class="sec-box-not">
                                                {{nombreSeccion}}
                                            </div>
                                            <div class="tit-box-not">
                                                {{titular}} 
                                            </div>   
                                        </div>
                                        <div class="img-tsec-1">
                                            <div style="position: absolute;top:2%;left:2%;  background-color: rgb(245, 255, 0); color:black;width:20px;text-align:center">
                                                {{@index}}
                                            </div>
                                            <img src="/images/{{imagen}}" alt="" > <br>
                                        </div>
                                    </a>
                                </div>
                             {{/if}}
                        {{/each}}   

                    </div>
                </div>



            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
            <div class="navbar-dolar " >

                <div class="bar-dolar " >

                    <div class="mt-2 mb-4 " id="d-dolar-o" style="color:rgba(1, 112, 1, 0.747);text-align: center;font-size:20px;">
                    </div>
                    <div class="mt-2 mb-4" id="d-dolar-b"  style="color:rgba(0, 1, 41, 0.795);text-align: center;font-size:20px;">
                    </div>
                    <div class="mt-2 mb-4" id="d-bitcoin" style="color:rgba(255, 251, 0, 0.808);text-align: center;font-size:20px;">
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>