<div class="container">
    <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-12 mb-12" >

          <div class="row" style="text-align:center;font-weight:bold;">
            <div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2  " >
                    <a href="" style="width: 100%;heigth:100%;text-decoration:none;color:black;">
                    <div class="mt-1 " style="position: relative;">
                        <img src="/images/logo-news.png" alt="" style="width: 100%;">
                    </div> 
                </a>        
            </div>

            <div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2" style="background-color:rgb(245, 255, 0);" id="nav-home">
                <a href="/" style="width: 100%;heigth:100%;text-decoration:none;color:black;">
                    <div class="mt-4 pt-2 home-btn" style="position: relative;">
                        HOME
                    </div> 
                </a>
            </div>
            <div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2 " style="position: relative;background-color: #41464b " onmouseover="desplegarSeccion()" onmouseout="esconderSeccion()" > 
                 <div class="mt-4 pt-2 home-sec" style="position: relative;color:rgb(245, 255, 0);">
                    SECCIONES
                 </div> 
                <div id="dropdown-secc" class="des-down"  >
                     {{#each secciones}}
                        <div class="mt-2 mb-2 desp-sec" >
                            <a href="/noticias/seccion/{{id}}" style="text-decoration: none;  ">{{nombre}}</a>
                        </div>
                    {{/each}}
                </div>

            </div>

            <div class="search-form col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pt-4 pb-4" >
                <form  class="d-flex " method="post" action ="/noticias/buscar" >
                    <input class="form-control"  type="search" placeholder="Search..." aria-label="Search" name="dato" id="dato">
                    <button class="btn search-btn"  type="submit"><i class="fas fa-search  "></i></button>
                </form>
            </div>

           </div>          

        </div>

        <div class="bor-izq col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 ">
            {{#if usuario}}
                <div class="navbar-secciones " >
                    <div class="bar-secc " >
                        <div class="tit-secc" style="width: 150px;">
                            Menú de <br>
                            Usuario
                        </div> 
                        <div class="btn-not">
                            <a href="/adminNoticia/create"><i class="far fa-plus-square"></i> crear noticia  </a>
                        </div>
                        <div class="btn-not">
                            <a href="/usuario/editar"><i class="fas fa-edit"></i> editar usuario </a>
                        </div>
                        {{#if usuario.admin}}
                        <div class="btn-not">
                            <a href="/administrador/create">crear usuario</a>
                        </div>
                        {{/if}}
                        <div class="btn-not">
                            <a href="/usuario/adios"><i class="fas fa-edit"></i> cerrar sesion </a>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="centro-noticias col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="row">      
                <div class="seccion-noticias col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                     <div class="row">
                                <div class="datos-user col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="height: 400px;">
                                    
                                        <div class="id-user">
                                            <strong>Id: </strong>{{usuario.id}}
                                        </div>
                                        <div class="nombre-user">
                                            {{usuario.nombre}}  {{usuario.apellido}} 
                                        </div>
                                        <div class="bar-sec-redes d-flex justify-content-end">
                                            <a href=""> <i class="fab fa-facebook-square fa-2x"></i></a>  <a href=""><i class="fab fa-instagram-square fa-2x"></i></a>   <a href=""><i class="fab fa-youtube-square fa-2x"></i></a>
                                        </div>
                                </div>  
                                <div class=" col-12 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="height: 400px;padding:0%">
                                   <img src="/images/{{usuario.img}}" alt="" style="width: 100%;height:100%; "> 
                                </div>   

                                <div class="seccion-noticias col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="deporte">
                                    <div class="row">
                                            <div class="noti-user-tit col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 mb-2 ">
                                                #Noti{{usuario.nombre}}
                                            </div>
                                            {{#each noticias}}
                                                    <div class="not-2-seccion col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" onmouseover="desplegarOpEdit('op-edit-not{{id}}')" onmouseout="esconderOpEdit('op-edit-not{{id}}')">
                                                        <a class="capa-link" href="/noticias/noticia/{{id}}">
                                                            <div class="img-tsec-2">
                                                                <img src="/images/{{imagen}}" alt="" style="width: 100%;"> <br>
                                                            </div>
                                                            <div class="datos-tsec-2">
                                                                <div class="sec-box-not">
                                                                    {{nombreSeccion}}
                                                                </div>
                                                                <div class="tit-box-not">
                                                                    {{titular}} 
                                                                </div>
                                                                {{#if habilitado}}
                                                                    <span style="text-decoration: none;color:black"> <strong>Noticia:</strong> <span style="color:green">Habilitada</span></span>
                                                                    {{else}}
                                                                    <span style="text-decoration: none;color:black"> <strong>Noticia:</strong> <span style="color:red">Deshabilitada</span></span>
                                                                {{/if}}
                                                                <div class="op-edit-not des-op" id="op-edit-not{{id}}"  >
                                                                    <div class="btn btn-outline-warning mb-1" style="width: 100%"> <a href="/adminNoticia/editar/{{id}}" style="width: 100%;text-decoration:none;color:black;"> editar </a></div>
                                                                    <div class="btn btn-outline-warning" style="width: 100%;"> <a href="/adminNoticia/agregarImagen/{{id}}" style="width: 100%;text-decoration:none;color:black;">agregarImagen</a></div>
                                                                    {{#if habilitado}}
                                                                    <div class="btn btn-outline-warning" style="width: 100%;"> <a href="/adminNoticia/deshabilitar/{{id}}" style="width: 100%;text-decoration:none;color:black;">deshabilitar</a></div>
                                                                    {{else}}
                                                                    <div class="btn btn-outline-warning" style="width: 100%;"> <a href="/adminNoticia/habilitar/{{id}}" style="width: 100%;text-decoration:none;color:black;">habilitar</a></div>                                                                    
                                                                    {{/if}}
                                                                </div>                                       
                                                            </div>
                                                        </a>
                                                    </div>
                                            {{/each}}   

                                    </div>

                                </div>

                    </div>

                </div>
               {{#if usuario.admin}}
                <div class="seccion-noticias col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="usuarios">
                     <div class="row">
                                <div class="seccion-noticias col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="deporte">
                                    <div class="row">
                                            <div class="noti-user-tit col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 mb-2 ">
                                                #AdministrarUsuarios
                                            </div>
                                            {{#each usuarios}}
                                                    <div class="not-2-seccion col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                                        <a class="capa-link" >
                                                            <div class="img-tsec-2">
                                                                <img src="/images/{{img}}" alt="" style="width: 100%;"> <br>
                                                            </div>
                                                            <div class="datos-tsec-2">
                                                                <div class="sec-box-not">
                                                                   <strong>Id: </strong>{{id}}
                                                                </div>
                                                                <div class="tit-box-not">
                                                                    Usuario :{{nombre}}  {{apellido}} 
                                                                </div>
                                                                <div class="bajada-box-not">
                                                                    <a href="/administrador/habilitar/{{usuario.id}}">habilitar</a> <br>
                                                                    <a href="/administrador/deshabilitar/{{usuario.id}}">deshabilitar</a> <br>
                                                                </div>                                       
                                                            </div>
                                                        </a>
                                                    </div>
                                            {{/each}}   

                                    </div>

                                </div>

                    </div>

                </div>
               {{/if}}
                 
            </div>
        </div>
        <div class="bor-der col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
            
        </div>

    </div>

</div>